USE [master]
GO
/****** Object:  Database [AplicacionHoteleraWeb]    Script Date: 10/24/2021 4:09:20 PM ******/
CREATE DATABASE [AplicacionHoteleraWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AplicacionHoteleraWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AplicacionHoteleraWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AplicacionHoteleraWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AplicacionHoteleraWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AplicacionHoteleraWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AplicacionHoteleraWeb]
GO
/****** Object:  User [RolbinMendez]    Script Date: 10/24/2021 4:09:20 PM ******/
CREATE USER [RolbinMendez] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [R]    Script Date: 10/24/2021 4:09:20 PM ******/
CREATE USER [R] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Administrador] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Detalle] [varchar](max) NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] NOT NULL,
	[Cedula] [int] NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Correo] [varchar](64) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospedaje]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospedaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHotel] [int] NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Espacios] [int] NOT NULL,
	[Precio] [money] NOT NULL,
 CONSTRAINT [PK_Hospedaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[Id] [int] NOT NULL,
	[Localidad] [varchar](64) NOT NULL,
	[Calificación] [decimal](2, 2) NOT NULL,
	[Correo] [varchar](64) NOT NULL,
	[Telefono] [int] NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservacion]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHospedaje] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[PrecioTotal] [money] NOT NULL,
 CONSTRAINT [PK_Reservacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
	[Usuario] [varchar](64) NOT NULL,
	[Contraseña] [varchar](64) NOT NULL,
	[IdTipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Hospedaje]  WITH CHECK ADD  CONSTRAINT [FK_Hospedaje_Hotel] FOREIGN KEY([IdHotel])
REFERENCES [dbo].[Hotel] ([Id])
GO
ALTER TABLE [dbo].[Hospedaje] CHECK CONSTRAINT [FK_Hospedaje_Hotel]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Cliente]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Hospedaje] FOREIGN KEY([IdHospedaje])
REFERENCES [dbo].[Hospedaje] ([Id])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Hospedaje]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Administrador] FOREIGN KEY([Id])
REFERENCES [dbo].[Administrador] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Administrador]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Cliente] FOREIGN KEY([Id])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Cliente]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Hotel] FOREIGN KEY([Id])
REFERENCES [dbo].[Hotel] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Hotel]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([IdTipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarAdministrador]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarAdministrador]
	@inNombre VARCHAR(64),
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64)
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;

	BEGIN TRY
		IF EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario)
		BEGIN
			
			SET @idUsuario =(SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario);

			EXEC sp_ActualizarUsuario @inNombre, @inUsuario, @inContraseña, @idUsuario;

			EXEC sp_InsertarBitacora 'Actualizacion de administrador ', @idUsuario

		END
		ELSE
		BEGIN
			SET @OutResultCode = 1;
		END


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCliente]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarCliente]
	@inNombre VARCHAR(64),
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64),
	@inCedula INT,
	@inFechaNacimiento DATE,
	@inCorreo VARCHAR(64)
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;

	BEGIN TRY
		IF EXISTS (SELECT Id FROM dbo.Cliente WHERE Cedula = @inCedula) OR
		   EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario)
		BEGIN

			SET @idUsuario =(SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario);
			
			EXEC sp_ActualizarUsuario @inNombre, @inUsuario, @inContraseña, @idUsuario;
			
			UPDATE dbo.Cliente 
			SET 
				Cedula = @inCedula,
				FechaNacimiento = @inFechaNacimiento,
				Correo = @inCorreo
			WHERE Id = @idUsuario

			EXEC sp_InsertarBitacora 'Actualizacion de Cliente ', @idUsuario

		END
		ELSE
		BEGIN
			SET @OutResultCode = 1
		END


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarHotel]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarHotel]
	@inNombre VARCHAR(64),
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64),
	@inLocalidad VARCHAR(64),
	@inCorreo VARCHAR(64),
	@inTelefono INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;

	BEGIN TRY
		IF EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario)
		BEGIN
			
			SET @idUsuario =(SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario);

			EXEC sp_ActualizarUsuario @inNombre, @inUsuario, @inContraseña, @idUsuario;

			UPDATE dbo.Hotel
			SET
				Localidad = @inLocalidad,
				Correo = @inCorreo,
				Telefono = @inTelefono
			WHERE Id = @idUsuario

			EXEC sp_InsertarBitacora 'Actualizacion de Hotel ', @idUsuario

		END
		ELSE
		BEGIN
			SET @OutResultCode = 1;
		END


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
	@inNombre VARCHAR(64),
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64),
	@inIdUsuario INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;

	BEGIN TRY
		-- Actualizacion de un Usuario
		UPDATE dbo.Usuario 
		SET 
			Nombre = @inNombre,
			Usuario = @inUsuario,
			Contraseña = @inContraseña
		WHERE Id = @inIdUsuario

	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaBitacora]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultaBitacora]
AS
BEGIN
	DECLARE @OutResultCode INT = 0;


	BEGIN TRY

		SELECT 
			Id,
			Fecha,
			Detalle,
			IdUsuario
		FROM Bitacora



	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaClienteEspecifico]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultaClienteEspecifico]
	@inIdCliente INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;


	BEGIN TRY

		SELECT 
			C.Id,
			U.Nombre,
			Cedula,
			FechaNacimiento,
			Correo,
			Usuario,
			Contraseña,
			TU.Nombre
		FROM Cliente as C
		INNER JOIN Usuario as U
		ON C.Id = U.Id
		INNER JOIN TipoUsuario as TU
		ON U.IdTipoUsuario = TU.Id
		WHERE C.Id = @inIdCliente



	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaClientes]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultaClientes]
AS
BEGIN
	DECLARE @OutResultCode INT = 0;


	BEGIN TRY

		SELECT 
			C.Id,
			U.Nombre,
			Cedula,
			FechaNacimiento,
			Correo,
			Usuario,
			Contraseña,
			TU.Nombre
		FROM Cliente as C
		INNER JOIN Usuario as U
		ON C.Id = U.Id
		INNER JOIN TipoUsuario as TU
		ON U.IdTipoUsuario = TU.Id



	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaHospedajeHotel]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultaHospedajeHotel]
	@inIdHotel VARCHAR(64)
AS
BEGIN
	DECLARE @OutResultCode INT = 0;


	BEGIN TRY

		SELECT 
			Nombre,
			Localidad,
			Calificación,
			Correo,
			Telefono,
			Descripcion,
			Precio
		FROM Hotel as H
		INNER JOIN Hospedaje as H2 
		ON H.Id = H2.IdHotel
		WHERE H.Id = @inIdHotel



	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaHotel]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultaHotel]
AS
BEGIN
	DECLARE @OutResultCode INT = 0;


	BEGIN TRY

		SELECT 
			Nombre,
			Localidad,
			Calificación,
			Correo,
			Telefono
		FROM Hotel as H
		INNER JOIN Usuario as U
		ON H.Id = U.Id



	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaHotelEspecifica]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultaHotelEspecifica]
	@inIdHotel INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;


	BEGIN TRY

		SELECT 
			Nombre,
			Localidad,
			Calificación,
			Correo,
			Telefono
		FROM Hotel as H
		INNER JOIN Usuario as U
		ON H.Id = U.Id
		WHERE H.Id = @inIdHotel


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarReservacion]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultarReservacion]
AS
BEGIN
	DECLARE @OutResultCode INT = 0;


	BEGIN TRY
		
		SELECT 
			Res.Id AS IdReservacion,

			Cli.Cedula AS CedulaCliente,

			Res.FechaInicio AS FechaInicio,
			Res.FechaFin AS FechaFinal,
			Res.PrecioTotal AS PrecioTotal,

			Usu.Nombre AS NombreHotel,
			Hos.Nombre AS NombreHospedaje,
			Hos.Precio AS PrecioHospedaje

		FROM dbo.Reservacion AS Res
		INNER JOIN dbo.Cliente AS Cli
		ON Res.IdCliente = Cli.Id
		INNER JOIN dbo.Hospedaje AS Hos
		ON Hos.Id = Res.IdHospedaje
		INNER JOIN dbo.Hotel AS Hot
		ON Hot.Id = Hos.IdHotel
		INNER JOIN dbo.Usuario AS Usu
		ON Usu.Id = Hot.Id

	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarReservacionXCliente]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ConsultarReservacionXCliente]
	@inIdCliente INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;


	BEGIN TRY
		
		SELECT 
			Res.Id AS IdReservacion,

			Cli.Cedula AS CedulaCliente,

			Res.FechaInicio AS FechaInicio,
			Res.FechaFin AS FechaFinal,
			Res.PrecioTotal AS PrecioTotal,

			Usu.Nombre AS NombreHotel,
			Hos.Nombre AS NombreHospedaje,
			Hos.Precio AS PrecioHospedaje

		FROM dbo.Reservacion AS Res
		INNER JOIN dbo.Cliente AS Cli
		ON Res.IdCliente = Cli.Id
		INNER JOIN dbo.Hospedaje AS Hos
		ON Hos.Id = Res.IdHospedaje
		INNER JOIN dbo.Hotel AS Hot
		ON Hot.Id = Hos.IdHotel
		INNER JOIN dbo.Usuario AS Usu
		ON Usu.Id = Hot.Id
		WHERE Cli.Id = @inIdCliente

	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarServacionXHotel]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ConsultarServacionXHotel]
	@inIdHotel INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;


	BEGIN TRY
		
		SELECT 
			Res.Id AS IdReservacion,

			Cli.Cedula AS CedulaCliente,

			Res.FechaInicio AS FechaInicio,
			Res.FechaFin AS FechaFinal,
			Res.PrecioTotal AS PrecioTotal,

			Usu.Nombre AS NombreHotel,
			Hos.Nombre AS NombreHospedaje,
			Hos.Precio AS PrecioHospedaje

		FROM dbo.Reservacion AS Res
		INNER JOIN dbo.Cliente AS Cli
		ON Res.IdCliente = Cli.Id
		INNER JOIN dbo.Hospedaje AS Hos
		ON Hos.Id = Res.IdHospedaje
		INNER JOIN dbo.Hotel AS Hot
		ON Hot.Id = Hos.IdHotel
		INNER JOIN dbo.Usuario AS Usu
		ON Usu.Id = Hot.Id
		WHERE Hot.Id = @inIdHotel

	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearReserva]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearReserva]
	@inIdHospedaje INT,
	@inIdCliente INT,
	@inFechaInicio DATE,
	@inFechaFin DATE
	AS
	BEGIN
		DECLARE @Reservaciones TABLE(
			Id INT
		)

		DECLARE @OutResultCode INT = 0;
		DECLARE @espaciosHospedaje INT;
		DECLARE @precio MONEY;

		BEGIN TRY
			IF EXISTS (SELECT Id FROM dbo.Cliente WHERE Id = @inIdCliente) AND
			   EXISTS (SELECT Id FROM dbo.Hospedaje WHERE Id = @inIdHospedaje)
			BEGIN
				SELECT 
					@espaciosHospedaje = Espacios,
					@precio = Precio
				FROM dbo.Hospedaje 
				WHERE Id = @inIdHospedaje

				INSERT INTO @Reservaciones 
					SELECT
						Id
					FROM dbo.Reservacion 
					WHERE Id = @inIdHospedaje AND
					      (@inFechaInicio NOT BETWEEN FechaInicio AND FechaFin) AND
					      (@inFechaFIN NOT BETWEEN FechaInicio AND FechaFin) AND
						  (FechaInicio NOT BETWEEN @inFechaInicio AND @inFechaFin) AND
					      (FechaFin NOT BETWEEN @inFechaInicio AND @inFechaFin)

				IF @espaciosHospedaje > (SELECT COUNT(*) FROM @Reservaciones)
				BEGIN
					INSERT INTO dbo.Reservacion(
						IdHospedaje,
						IdCliente,
						FechaInicio,
						FechaFin,
						PrecioTotal
					)VALUES(
						@inIdHospedaje,
						@inIdCliente,
						@inFechaInicio,
						@inFechaFin,
						@precio * (SELECT DATEDIFF(DAY, @inFechaInicio, @inFechaFin))
					)
				END
				ELSE
				BEGIN
					SET @OutResultCode = 1;
				END

			END
			ELSE
			BEGIN
				SET @OutResultCode = 1;
			END


		END TRY
		BEGIN CATCH
			SET @OutResultCode = 505;
		END CATCH

		SELECT @OutResultCode;
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarAdministrador]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarAdministrador]
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64)
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;

	BEGIN TRY
		IF EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario AND Contraseña = @inContraseña)
		BEGIN

			SET @idUsuario =(SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario);
			
			EXEC sp_EliminarUsuario @idUsuario
			
			DELETE FROM Administrador WHERE Id = @idUsuario

			EXEC sp_InsertarBitacora 'Eliminacion de Administrador ', @idUsuario

		END
		ELSE
		BEGIN
			SET @OutResultCode = 1
		END


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCliente]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarCliente]
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64)
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;

	BEGIN TRY
		IF EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario AND Contraseña = @inContraseña)
		BEGIN

			SET @idUsuario =(SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario);
			
			EXEC sp_EliminarUsuario @idUsuario
			
			DELETE FROM Cliente WHERE Id = @idUsuario

			EXEC sp_InsertarBitacora 'Eliminacion de Cliente ', @idUsuario

		END
		ELSE
		BEGIN
			SET @OutResultCode = 1
		END


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarHotel]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarHotel]
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64)
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;
	DECLARE @idHospedaje INT;
	DECLARE @TablaReservaciones TABLE				-- Tabla con Reservaciones pendientes
			(	
				IdReserva INT
			);
	DECLARE @Count INT

	BEGIN TRY
	--ELIMINACION DE HOTEL
		IF EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario AND Contraseña = @inContraseña)
		BEGIN

			SET @idUsuario =(SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario);
			SET @idHospedaje =(SELECT Id FROM dbo.Hospedaje WHERE IdHotel = @idUsuario);

			INSERT INTO @TablaReservaciones			-- Se cargan todas las reservaciones en dicha fecha
				SELECT Id
				FROM dbo.Reservacion AS Res
			WHERE res.IdHospedaje = @idHospedaje AND (GETDATE() BETWEEN GETDATE() AND FechaFin)

			SELECT								-- Contador para iterar sobre la tabla @@TablaReservaciones
				@Count = COUNT(*) 
			FROM @TablaReservaciones
			

			--VALIDO QUE NO HAYAN RESERVACIONES PENDIENTES
			IF (@Count > 0)
			BEGIN
				
				WHILE @Count > 0
				BEGIN

					DELETE FROM Reservacion WHERE Id = (SELECT TOP (1) IdReserva FROM @TablaReservaciones) --elimino reservacion
					EXEC sp_InsertarBitacora 'Eliminacion de Reservacion ', @idUsuario --agregrar detalles

					DELETE TOP (1) FROM @TablaReservaciones
					SELECT @Count = COUNT(*) FROM @TablaReservaciones;


				END

			END

		EXEC sp_EliminarUsuario @idUsuario; --elimino usuario		
		DELETE FROM Hospedaje Where IdHotel = @idUsuario; --Elimino hospedaje y hotel
		DELETE FROM Hotel WHERE Id = @idUsuario;
		EXEC sp_InsertarBitacora 'Eliminacion de Hotel ', @idUsuario
			
			
		END
		ELSE
		BEGIN
			SET @OutResultCode = 1
		END


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarUsuario]

	@inIdUsuario INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;

	BEGIN TRY
		-- Actualizacion de un Usuario
		DELETE FROM Usuario WHERE Id = @inIdUsuario

	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarAdministrador]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarAdministrador]
	@inNombre VARCHAR(64),
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64)
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;

	BEGIN TRY
		IF NOT EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario)
		BEGIN
			EXEC sp_InsertarUsuario @inNombre, @inUsuario, @inContraseña, 1;

			SET @idUsuario =(SELECT MAX(Id) FROM dbo.Usuario);

			INSERT INTO dbo.Administrador(
				Id
			)VALUES(
				@idUsuario
			)
		END
		ELSE
		BEGIN
			SET @OutResultCode = 1;
		END


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarBitacora]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarBitacora]
	@inDetalle VARCHAR (MAX),
	@inIdUsuario INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;

	BEGIN TRY
		-- Inserción de un detalle bitacora
		INSERT INTO Bitacora
		(
			Fecha,
			Detalle,
			IdUsuario
		)VALUES
		(
				GETDATE(),
				@inDetalle,
				@inIdUsuario
		)
		
	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarCliente]
	@inNombre VARCHAR(64),
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64),
	@inCedula INT,
	@inFechaNacimiento DATE,
	@inCorreo VARCHAR(64)
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;

	BEGIN TRY
		IF NOT EXISTS (SELECT Id FROM dbo.Cliente WHERE Cedula = @inCedula) OR
		   NOT EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario)
		BEGIN
			EXEC sp_InsertarUsuario @inNombre, @inUsuario, @inContraseña, 3;

			SET @idUsuario =(SELECT MAX(Id) FROM dbo.Usuario);

			INSERT INTO dbo.Cliente(
				Id,
				Cedula,
				FechaNacimiento,
				Correo
			)VALUES(
				@idUsuario,
				@inCedula,
				@inFechaNacimiento,
				@inCorreo
			)
		END
		ELSE
		BEGIN
			SET @OutResultCode = 1
		END


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarHotel]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarHotel]
	@inNombre VARCHAR(64),
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64),
	@inLocalidad VARCHAR(64),
	@inCorreo VARCHAR(64),
	@inTelefono INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;

	BEGIN TRY
		IF NOT EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario)
		BEGIN
			EXEC sp_InsertarUsuario @inNombre, @inUsuario, @inContraseña, 2;

			SET @idUsuario =(SELECT MAX(Id) FROM dbo.Usuario);

			INSERT INTO dbo.Hotel(
				Id,
				Localidad,
				Calificación,
				Correo,
				Telefono
			)VALUES(
				@idUsuario,
				@inLocalidad,
				5,
				@inCorreo,
				@inTelefono
			)
		END
		ELSE
		BEGIN
			SET @OutResultCode = 1;
		END


	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUsuario]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarUsuario]
	@inNombre VARCHAR(64),
	@inUsuario VARCHAR(64),
	@inContraseña VARCHAR(64),
	@inIdTipoUsuario INT
AS
BEGIN
	DECLARE @OutResultCode INT = 0;

	BEGIN TRY
		-- Inserción de un Usuario
		INSERT INTO dbo.Usuario(
			Nombre,
			Usuario,
			Contraseña,
			IdTipoUsuario
		)VALUES(
			@inNombre,
			@inUsuario,
			@inContraseña,
			@inIdTipoUsuario
		)
	END TRY
	BEGIN CATCH
		SET @OutResultCode = 505;
	END CATCH

	SELECT @OutResultCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarUsuario]    Script Date: 10/24/2021 4:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidarUsuario]
	@inUsuario VARCHAR(64),
	@inContrasena VARCHAR (64)
AS
BEGIN
	DECLARE @OutResultCode INT = 0;
	DECLARE @idUsuario INT;

	BEGIN TRY
		IF EXISTS (SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario AND Contraseña = @inContrasena)
		BEGIN 
			SET @idUsuario =(SELECT Id FROM dbo.Usuario WHERE Usuario = @inUsuario);

			IF EXISTS (SELECT Id FROM dbo.Cliente WHERE Id = @idUsuario)
			BEGIN
				SET @OutResultCode = 3;
			END 
			ELSE IF EXISTS (SELECT Id FROM dbo.Hotel WHERE Id = @idUsuario)
			BEGIN
				SET @OutResultCode = 2;
			END
			ELSE
			BEGIN
				SET @OutResultCode = 1;
			END

		END
		ELSE
		BEGIN
			SET @OutResultCode = 0;
		END


	END TRY

	BEGIN CATCH
		SET @OutResultCode = 0;
	END CATCH

	SELECT @OutResultCode AS TipoUsuario;
END
GO
USE [master]
GO
